ECHO is on.
.env

_pycache_
chroma
Include
Lib
Scripts
share

venv/
*.pyc
functions/
etc/
.vscode/


uploaded_files/

../.vscode/
../Include/
../Lib/
../Scripts/
../__pycache__
../__pycache__/
../chroma/
../etc/
../share/

render.yaml
pyproject.toml 